    .main_box {
        height: 150px;
        width: 100%;
        margin: 5px;
        border-radius: 10px;
    }

    #green {
    background-color: green;
   }

   #red {
    background-color: red;
   }

   #blue {
    background-color: blue;
   }

   #orange {
    background-color: orange;
   }

   #brown {
    background-color: brown;
   }

   #black {
    background-color: black;
   }

   #violet {
    background-color: violet;
   }

   #indigo {
    background-color: indigo;
   }

   #purple {
    background-color: purple;
   }

   #white {
    border-color: black;
    background-color: white;
   }